
.hero__container {
    position: relative;
    display: flex;
    overflow: hidden;
    margin-top: 135px;
    @media (max-width:992px) {
        max-width: 100vw;
        padding: 0;
    }
    @media (max-width:968px) {
        margin-top: 118px;
    }
    @media (max-width:767px) {
        margin-top: 110px;
    }
    @media (max-width:550px) {
        flex-direction: column;
        margin-top: 165px;
    }
    

    .hero-wrapper {
        background-color: #d9d9d96e;
        left: 0;
        padding-right: 50px;
        width: 100%;
        @media (max-width:992px) {
            padding-bottom: 10px;
        }

        .hero-text {
            width: 50%;
            display: flex;
            flex-direction: column;
            padding-right: 25px;

            position: absolute;
            gap: 40px;
            top: 50%;
            left: 5%;
            transform: translateY(-50%);
            @media (max-width:992px) {
                gap: 10px;
            }
            @media (max-width:550px) {
                position: relative;
                transform: none;
                width: 100%;
                padding-top: 25px;
                padding-right: 0;
            }
            h2,p {
                font-family: var(--font-family);
                line-height: 120%;
            }
            h2 {
                font-size: 3.75rem;
                font-weight: 500;
                color: $red-main;
                @media (max-width:1921px) {
                    font-size: 2.5rem;
                }
                @media (max-width:1300px) {
                    font-size: 2rem;
                }
                @media (max-width:992px) {
                    font-size: 1.5rem;
                }
                @media (max-width:550px) {
                    font-size: 2rem;
                }
                @media (max-width:400px) {
                    font-size: 1.5rem;
                }
            }
            p {
                font-size: 2.5rem;
                font-weight: 300;
                color: $not-black;
                @media (max-width:1921px) {
                    font-size: 1.5rem;
                }
                @media (max-width:1300px) {
                    font-size: 1.25rem;
                }
                @media (max-width:992px) {
                    font-size: 1rem;
                }
                @media (max-width:550px) {
                    font-size: 1.5rem;
                }
                @media (max-width:400px) {
                    font-size: 1.25rem;
                }
            }
        }
    }
    svg {}
    img {
        max-height: 800px;
        width: 45%;
        margin-left: -18%;
        @media (max-width:992px) {
            margin-left: auto;
            background-color: #d9d9d96e;
        }
        @media (max-width:550px) {
            width: 100%;
        }
    }
}